.hero {
    max-width: 1600px;
    min-height: 600px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--dark-bg);
}

.hero__title {
    max-width: 696px;
    margin: 0 auto;

    text-align: center;

    color: var(--primary-white);

    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;

    text-transform: uppercase;
}

.hero__button {
    font-family: Roboto, sans-serif;
    color: var(--primary-white);
    background-color: var(--accent-color);

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;

    text-align: center;
    cursor: pointer;

    padding: 10px 32px;

    margin: 30px auto 0 auto;
    display: block;
    border-radius: 4px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}