.page-header {
    border-bottom: 1px solid var(--border-color);
}

.page-header__flexbox {
    display: flex;
    align-items: center;
}

.page-header__logo {
    padding: 24px 0;
    margin-right: 93px;
}

.page-header__contact {
    margin-left: auto;
}